@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100.woff2') format('woff2'),
        url('MuseoSansCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

